@font-face {
  font-family: "Black";
  src: url("../fonts/AvenirLTStd-Black.eot");
  src: url("../fonts/AvenirLTStd-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-Black.woff") format("woff"), url("../fonts/AvenirLTStd-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "BlackOblique";
  src: url("../fonts/AvenirLTStd-BlackOblique.eot");
  src: url("../fonts/AvenirLTStd-BlackOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-BlackOblique.woff") format("woff"), url("../fonts/AvenirLTStd-BlackOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Book";
  src: url("../fonts/AvenirLTStd-Book.eot");
  src: url("../fonts/AvenirLTStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-Book.woff") format("woff"), url("../fonts/AvenirLTStd-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "BookOblique";
  src: url("../fonts/AvenirLTStd-BookOblique.eot");
  src: url("../fonts/AvenirLTStd-BookOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-BookOblique.woff") format("woff"), url("../fonts/AvenirLTStd-BookOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Heavy";
  src: url("../fonts/AvenirLTStd-Heavy.eot");
  src: url("../fonts/AvenirLTStd-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-Heavy.woff") format("woff"), url("../fonts/AvenirLTStd-Heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "HeavyOblique";
  src: url("../fonts/AvenirLTStd-HeavyOblique.eot");
  src: url("../fonts/AvenirLTStd-HeavyOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-HeavyOblique.woff") format("woff"), url("../fonts/AvenirLTStd-HeavyOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Light";
  src: url("../fonts/AvenirLTStd-Light.eot");
  src: url("../fonts/AvenirLTStd-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-Light.woff") format("woff"), url("../fonts/AvenirLTStd-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "LightOblique";
  src: url("../fonts/AvenirLTStd-LightOblique.eot");
  src: url("../fonts/AvenirLTStd-LightOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-LightOblique.woff") format("woff"), url("../fonts/AvenirLTStd-LightOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Medium";
  src: url("../fonts/AvenirLTStd-Medium.eot");
  src: url("../fonts/AvenirLTStd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-Medium.woff") format("woff"), url("../fonts/AvenirLTStd-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "MediumOblique";
  src: url("../fonts/AvenirLTStd-MediumOblique.eot");
  src: url("../fonts/AvenirLTStd-MediumOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-MediumOblique.woff") format("woff"), url("../fonts/AvenirLTStd-MediumOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Oblique";
  src: url("../fonts/AvenirLTStd-Oblique.eot");
  src: url("../fonts/AvenirLTStd-Oblique.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-Oblique.woff") format("woff"), url("../fonts/AvenirLTStd-Oblique.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roman";
  src: url("../fonts/AvenirLTStd-Roman.eot");
  src: url("../fonts/AvenirLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-Roman.woff") format("woff"), url("../fonts/AvenirLTStd-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body, html {
  height: 100%; }

img, fieldset, a img {
  border: none; }

input[type="submit"],
button {
  cursor: pointer; }
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

textarea {
  overflow: auto; }

input, button {
  margin: 0;
  padding: 0;
  border: 0; }

input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none; }

ul, ol {
  list-style-type: none; }

@media screen and (max-width: 1024px) {
  * {
    -webkit-text-size-adjust: none; } }

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

body {
  font-family: "Light";
  font-weight: normal;
  font-size: 12px;
  line-height: 1.4; }

a {
  text-decoration: underline;
  color: inherit;
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: normal; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 22px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

h6 {
  font-size: 14px; }

.button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 28px;
  font-family: "Light";
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  border: none;
  display: inline-block;
  -webkit-appearance: none; }
  .button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db); }

input[type=text], input[type=email], input[type=tel], input[type=search], input[type=password], input[type=date], input[type=url], textarea {
  width: 300px;
  height: 25px;
  box-sizing: border-box;
  padding: 0 5px;
  color: #000;
  font-size: 14px;
  font-family: "Light";
  border: 1px solid #000;
  border-radius: 3px;
  resize: none; }
  input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=search]:focus, input[type=password]:focus, input[type=date]:focus, input[type=url]:focus, textarea:focus {
    box-shadow: 0 0 2px #99e6f9; }
  input[type=text].red_input, input[type=email].red_input, input[type=tel].red_input, input[type=search].red_input, input[type=password].red_input, input[type=date].red_input, input[type=url].red_input, textarea.red_input {
    box-shadow: 0 0 2px #ff2d50;
    background: #fdc4ce; }

input::-webkit-input-placeholder {
  color: inherit; }

input:-moz-placeholder {
  color: inherit; }

textarea {
  height: 90px;
  padding-top: 5px; }

.modal {
  display: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

.float_left {
  float: left !important; }

.float_right {
  float: right !important; }

.float_none {
  float: none !important; }

.text_right {
  text-align: right !important; }

.text_center {
  text-align: center !important; }

.text_left {
  text-align: left !important; }

.absolute {
  position: absolute !important; }

.relative {
  position: relative !important; }

.fixed {
  position: fixed !important; }

.background_none {
  background: none !important; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.block {
  display: block; }

.hidden {
  display: none; }

.wrapper {
  position: relative;
  overflow: hidden; }

.container {
  width: 970px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }

/*----------header----------*/
.header {
  position: relative;
  overflow: hidden; }

.logo {
  display: block;
  text-align: center;
  margin: 19px 0 95px 0; }
  .logo img {
    width: 230px; }

.main-nav {
  font-family: "Book";
  text-align: center;
  color: #4d4d4d;
  padding-bottom: 25px;
  font-size: 28px; }
  .main-nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .main-nav li {
    display: inline-block; }
  .main-nav a {
    text-decoration: none; }
    .main-nav a:hover, .main-nav a.active {
      color: #000; }

/*----------end-header----------*/
/*----------main----------*/
.main {
  position: relative;
  overflow: hidden; }

.bnr {
  text-align: center;
  padding-bottom: 45px; }
  .bnr img {
    max-width: 100%; }

.content_txt {
  font-size: 25px;
  color: #000000;
  font-family: "Book"; }
  .content_txt p {
    padding: 0 0 35px 0; }
  .content_txt h2 {
    font-family: "Medium";
    font-size: 28px;
    padding-bottom: 50px; }
  .content_txt figure {
    padding: 40px 0 50px 0; }

.title {
  font-size: 29px;
  border-bottom: 1px solid #858584;
  padding-bottom: 25px;
  margin-bottom: 25px; }

/*----------end main----------*/
/*----------footer----------*/
.footer {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  line-height: 1.6;
  color: #4d4d4d;
  font-size: 25px; }
  .footer .container {
    padding-top: 32px;
    border-top: 1px solid #858584; }
  .footer strong {
    display: block;
    color: #000; }
  .footer h4 {
    color: #000;
    padding-bottom: 43px;
    font-size: 28px; }
  .footer p {
    padding-bottom: 35px; }

/*----------end footer----------*/
